body{
	padding: 20px;
	margin: 0px;
	background-color: silver;
	font-family: arial;

}
.tabla{
	border: 1px solid green;
	margin: 0 auto;
	width: 50%;
}
.tabla th{
	background-color: green;
	color: white;
}
.tabla td{
	border:1px solid silver;
}
.contenedor{
	padding: 30px;
	background-color: white;
	margin: 0 auto;
}

.formulario{
	border: 1px solid green;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
	font-size: 14px;
}
.formulario input[type="text"]{
	font-size: 14px;
}
.green{
	color: green;
}
.center{
	text-align: center;
}
button, input[type="button"]{
	background-color: rgba(216, 215, 215, 1);
	padding: 3px;
	cursor: pointer;
	border-radius: 4px;
	min-width: 80px;
}
button:hover,input[type="button"]:hover{
	background-color: rgba(175, 204, 175, 1);
}
